
a{
    text-decoration: none;
}


input{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 450px;
    height: 40px;
    border-width: 1px;
    border-color: rgb(230, 234, 240);
    
}


.top-li{
    display: inline;

}

#top-nav-div{
}

#top-div-left{
    font-size: 14px;
    display: inline-flex;

}

#top-ul-left{
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
    height: 35px;
}

#top-div-right{
    display: inline-flex;
    font-size: 14px;
}

#sign-in-button{
    background-color: rgb(68,133,243);
    color: white;
    padding: 8px;
    border-radius: 5%;
    width: 75px;
}

#google-logo-img{
    display: block;
    margin: auto;
    margin-top: 175px;
}


#footer-nav{
    list-style-type: none;
    display: flex;
    background-color: rgb(242,242,242);
    position: absolute;
    bottom: 0;
    width: 100vw;

}




